<h1>About Lord of the Ruby</h1>
<p>Welcome to my book library. I got this data from the open library search api. The endpoint for this API is:
https://openlibrary.org/search.json.</p>

<p>Through this api, I took data from the books, authors, publishers and categories.</p>

<p>I pulled this data from four different sources using this api.</p>

<p>I integrated this dataset by applying columns of book title, publish_date, publisher, category, author, etc.</p>

