<!-- app/views/kaminari/tailwind/_paginator.html.erb -->

<nav class="flex items-center justify-between">
  <div>
    <%= paginator.prev_page_link(t("views.pagination.previous"), class: "px-3 py-2 bg-gray-200 text-gray-600 rounded-md hover:bg-gray-300") if paginator.prev_page %>
  </div>
  <div>
    <%= paginator.page_entries_info %>
  </div>
  <div>
    <%= paginator.next_page_link(t("views.pagination.next"), class: "px-3 py-2 bg-gray-200 text-gray-600 rounded-md hover:bg-gray-300") if paginator.next_page %>
  </div>
</nav>
